* {
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
@media (max-width: 377px) {
  body {
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
  }
  .main {
    position: absolute;
    margin-left: 1.0625rem;
    width: 21.3125rem;
    height: 95%;
    margin-top: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
  }
  .img {
    height: calc(100% / 2.2);
    width: 100%;
    background-image: url("../images/image-product-mobile.jpg");
    background-position: center;
    background-size: cover;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
  .info {
    width: 18.5rem;
    margin-left: 1.625rem;
    height: 20rem;
    margin-top: 1.75rem;
  }
  .info * {
    margin-bottom: 1.25rem;
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.489);
  }
  h1 {
    font-family: "Fraunces", serif;
    font-size: xx-large;
  }
  p{
    font-size: 14px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.489);
  }
  .money{
    display: flex;
    flex-flow: row wrap;
  }
  .one{
    font-family: "Fraunces", serif;
    color:hsl(158, 36%, 37%);
    font-size: 2rem;
  }
  .two{
    margin-left:1.25rem ;
    margin-top: 0.8rem;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.489);
  }
  .butn{
    background-color: hsl(158, 36%, 37%);
    height: 3.125rem;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 1.563rem;
  }
  .cart{
    position: absolute;
    top: 1rem;
    left: 4.8125rem;

  }

}
@media (min-width:377px) {
  body {
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;

  }
  .main {
    margin-top: 10.125rem;
    position: absolute;
    width: 37.813rem;
    height: 70%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    display: flex;
    flex-flow: row nowrap;
  }
  .img {
    height: 100%;
    width: 50%;
    background-image: url("../images/image-product-desktop.jpg");
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
  }
  
  .info {
    width: 50%;
    height: 100%;
    margin-top: 1.75rem;
    
  }
  .info * {
    margin-bottom: 1.625rem;
    margin-left: 1.875rem;
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.489);
  }
  h1 {
    font-family: "Fraunces", serif;
    font-size: xx-large;
  }
  p{
    font-size: 14px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.489);
  }
  .money{
    display: flex;
    flex-flow: row wrap;
    margin-left: 0;
  }
  .one{
    font-family: "Fraunces", serif;
    color:hsl(158, 36%, 37%);
    font-size: 2rem;
  }
  .two{
    margin-left:0.25rem ;
    margin-top: 0.8rem;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.489);
  }
  .butn{
    background-color: hsl(158, 36%, 37%);
    height: 3.125rem;
    width: 80%;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 3.563rem;
  }
  .cart{
    position: absolute;
    top: 1rem;
    left: -1.125788rem;

  }
  .butn:hover{
    background-color:  #1A4031;
    cursor: pointer;
  } 
}
